body {
  margin: 100px 0 0;
  line-height: 2;
  font-size: 16px;
}

a {
  color: black;

}

a:hover {
  color: #999;
}

header {
  margin-bottom: 36px;
}

header .container {
  display: flex;
  background: #fff;
  border-bottom: 1px solid#ccc;
  margin: 0;
  padding: 8px 16px 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  margin: 0;
  padding: 0;
  line-height: 64px;
}

header h1 img {  
  width: 80%;
  margin: 0;
  padding: 8px;
  line-height: 64px;
  vertical-align: bottom;
}  


.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

header p {
  text-align: center;
  margin: 0 0 16px;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 3;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .4s, transform .4s;
}

.overlay li a {
  text-decoration: none;
  padding: 4px;
}


.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

#section1 {
  padding-top: 100px;
  margin-top: -100px;
}

#section2 {
  padding-top: 100px;
  margin-top: -100px;
}

#section3 {
  padding-top: 100px;
  margin-top: -100px;
}
#section4 {
  padding-top: 100px;
  margin-top: -100px;
}

/* carousel */

section {
  width: 80%;
  margin: 8px auto;
}

.carousel {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}


.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform .3s;
}

.carousel li {
  height: 100%;
  min-width: 100%;
}

.carousel li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(138, 131, 131, .8);
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 0 8px 4px;
}

#prev:hover,
#next:hover {
  opacity: .5;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.hidden {
  display: none;
}

.nav {
  margin-top: 16px;
  text-align: center;
}

nav button + button {
  margin-left: 8px;
}

nav button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

nav .current {
  background: #999;
}

/* main */
main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

main h2{
  margin: 0 0 8px;
  padding: 0;  
  font-weight: normal;
}

main h4 {
  margin: 8px 0;
  padding: 0;
  font-weight: normal;
}

main p {
  margin: 8px 0;
  padding: 0;
}

.about {
  margin-bottom: 36px;
}

/* MENU */

.menu {
  margin-bottom: 36px;
}

.menu h3 {
  font-weight: normal;
}

ul.menuList {
  margin: 0 auto 32px;
  padding: 0;
  list-style: none;
}


.menuList li {
  text-align: center;
  margin: 0 0 48px;
  padding: 0;
}

.menuList li h3 {
  margin: 0;
  padding: 0;
}

.menuList img{
  width: 100%;
  height: 220px;
  margin: 24px 0;
  object-fit: cover;
  vertical-align: bottom;
}

.menuList li p {
  margin: 0;
  padding: 0;
}

/* ACCESS */
.access {
  margin-bottom: 36px;
}

.map {
  margin: 24px 0;
}
iframe {
  width: 100%;
  max-width: 600px;
  height: 220px;
}

table {
  margin: 8px auto;
  text-align: left;
}

td + td {
  padding-left: 16px;
}

/* footer */

footer {
  height: 120px;
  background: black;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

footer img {  
  width: 180px;
  height: 32px;
  margin: 0;
  padding: 16px;
  line-height: 64px;
  vertical-align: bottom;
  object-fit: cover;
} 

footer a {
  
  display: block;
  font-size: 12px;
  color: rgb(179, 174, 174);
}

.goto {
  line-height: 1.5;
}
.train,
.car {
  margin-bottom: 24px;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .sp-menu {
    display: none;
  }

  body {
    margin: 136px 0 0;
    line-height: 2;
    font-size: 16px;
  }

  #section1 {
    padding-top: 136px;
    margin-top: -136px;
  }
  
  #section2 {
    padding-top: 136px;
    margin-top: -136px;
  }
  
  #section3 {
    padding-top: 136px;
    margin-top: -136px;
  }
  #section4 {
    padding-top: 136px;
    margin-top: -136px;
  }

/* HEADER */

  header .container {
    justify-content: center;
    width: 100%;
    display: block;
    background: #fff;
    border-bottom: 1px solid#ccc;
    margin: 0 auto;
    padding: 0;
  }

  header h1 {
    margin: 0;
    padding: 0;
    line-height: 64px;
    text-align: center;
  }
  
  header h1 img {  
    width: 400px;
    margin: 0;
    line-height: 64px;
    vertical-align: bottom;
  }  

  
  .pc-menu {
    display: block;
  }
  
  
  .pc-menu ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .pc-menu a {
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    cursor: pointer; 
  }


  .carousel {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

/* MENU */
  ul.menuList {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .menuList li {
    margin: 0 8px;
  }


}

@media (min-width: 800px){
  body {
    margin: 120px 0 0;
    line-height: 2;
    font-size: 16px;
  }

  #section1 {
    padding-top: 120px;
    margin-top: -120px;
  }
  
  #section2 {
    padding-top: 120px;
    margin-top: -120px;
  }
  
  #section3 {
    padding-top: 120px;
    margin-top: -120px;
  }
  #section4 {
    padding-top: 120px;
    margin-top: -120px;
  }
  header .container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid#ccc;
    margin: 0 auto;
    padding: 0;
  }

  header h1 img {  
    width: 400px;
    margin: 4px 16px 0 0;
    line-height: 64px;
    vertical-align: bottom;
  }  
    
  .pc-menu ul {
    list-style: none;
    margin: 36px auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .pc-menu a {
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    cursor: pointer; 
  }

  /* ACCESS   */
  .info {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .goto {
    text-align: left;
    margin-left: 32px;
  }

}


